<div *ngIf="keg">

  <h2>{{ keg.name | uppercase }} Details</h2>
  <div><span>id: </span>{{keg.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="keg.name" placeholder="name">
    </label>
    <label>brand:
      <input [(ngModel)]="keg.brand" placeholder="brand">
    </label>
    <label>Pint Price:
      <input [(ngModel)]="keg.pintPrice" placeholder="pintPrice">
    </label>
    <label>ABV:
      <input [(ngModel)]="keg.abv" placeholder="abv">
    </label>
  </div>
  <button (click)="goBack()">go back</button>
</div>
